$icomoon-font-family: "paymentfont-webfont" !default;
$icomoon-font-path: "fonts" !default;

$pf-amazon: "\f000";
$pf-american-express: "\f001";
$pf-american-express-alt: "\f002";
$pf-atm: "\f003";
$pf-bankomat: "\f004";
$pf-bank-transfer: "\f005";
$pf-bitcoin: "\f006";
$pf-bitcoin-sign: "\f007";
$pf-braintree: "\f008";
$pf-btc: "\f009";
$pf-card: "\f00a";
$pf-carta-si: "\f00b";
$pf-cash: "\f00c";
$pf-cash-on-delivery: "\f00d";
$pf-cb: "\f00e";
$pf-cirrus: "\f00f";
$pf-cirrus-alt: "\f010";
$pf-clickandbuy: "\f011";
$pf-credit-card: "\f012";
$pf-diners: "\f013";
$pf-discover: "\f014";
$pf-ec: "\f015";
$pf-eps: "\f016";
$pf-eur: "\f017";
$pf-facture: "\f018";
$pf-fattura: "\f019";
$pf-flattr: "\f01a";
$pf-giropay: "\f01b";
$pf-google-wallet: "\f01c";
$pf-google-wallet-alt: "\f01d";
$pf-gbp: "\f01e";
$pf-gratipay: "\f01f";
$pf-ideal: "\f020";
$pf-ils: "\f021";
$pf-inr: "\f022";
$pf-invoice: "\f023";
$pf-invoice-sign: "\f024";
$pf-invoice-sign-alt: "\f025";
$pf-invoice-sign-alt-o: "\f026";
$pf-invoice-sign-o: "\f027";
$pf-jcb: "\f028";
$pf-jpy: "\f029";
$pf-krw: "\f02a";
$pf-maestro: "\f02b";
$pf-maestro-alt: "\f02c";
$pf-mastercard: "\f02d";
$pf-mastercard-alt: "\f02e";
$pf-mastercard-securecode: "\f02f";
$pf-ogone: "\f030";
$pf-paybox: "\f031";
$pf-paylife: "\f032";
$pf-paypal: "\f033";
$pf-paypal-alt: "\f034";
$pf-paysafecard: "\f035";
$pf-postepay: "\f036";
$pf-quick: "\f037";
$pf-rechnung: "\f038";
$pf-ripple: "\f039";
$pf-rub: "\f03a";
$pf-skrill: "\f03b";
$pf-sofort: "\f03c";
$pf-square: "\f03d";
$pf-stripe: "\f03e";
$pf-truste: "\f03f";
$pf-try: "\f040";
$pf-unionpay: "\f041";
$pf-usd: "\f042";
$pf-verified-by-visa: "\f043";
$pf-verisign: "\f044";
$pf-visa: "\f045";
$pf-visa-electron: "\f046";
$pf-western-union: "\f047";
$pf-pf_western-union-alt: "\f048";
$pf-wirecard: "\f049";
$pf-sepa: "\f04a";
$pf-sepa-alt: "\f04b";
$pf-apple-pay: "\f04c";
$pf-interac: "\f04d";
$pf-paymill: "\f04e";
$pf-dankort: "\f04f";
$pf-bancontact-mister-cash: "\f050";
$pf-moip: "\f051";
$pf-pagseguro: "\f052";
$pf-cash-on-pickup: "\f053";
$pf-sage: "\f054";
$pf-elo: "\f055";
$pf-elo-alt: "\f056";
$pf-payu: "\f057";
$pf-mercado-pago: "\f058";
$pf-mercado-pago-sign: "\f059";
$pf-payshop: "\f05a";
$pf-multibanco: "\f05b";
$pf-gratipay-sign: "\f05c";
$pf-six: "\f05d";
$pf-cashcloud: "\f05e";
$pf-interac-alt: "\f05f";
$pf-klarna: "\f060";
$pf-bitpay: "\f061";
$pf-venmo: "\f062";
$pf-visa-debit: "\f063";
$pf-alipay: "\f064";
$pf-diners-alt: "\f065";
$pf-hipercard: "\f066";
$pf-skrill-alt: "\f067";
$pf-shopify: "\f068";
$pf-direct-debit: "\f069";
$pf-sodexo: "\f06a";
$pf-bpay: "\f06b";
$pf-contactless: "\f06c";
$pf-contactless-alt: "\f06d";
$pf-eth: "\f06e";
$pf-ltc: "\f06f";
$pf-visa-pay: "\f070";
$pf-wechat-pay: "\f071";
$pf-amazon-pay: "\f072";
$pf-amazon-pay-alt: "\f073";
$pf-cabal: "\f074";
$pf-diners1: "\f075";
$pf-argencard: "\f076";
$pf-pagomiscuentas: "\f077";
$pf-redlink: "\f078";
$pf-modo: "\f079";
$pf-debin: "\f07a";

